<script>
  import { Link } from "@inertiajs/svelte";


</script>

<body class="p-5">
  <header class="mb-10">Header</header>

  <Link href="countries">All countries</Link>

  <div class="mt-5">
    <slot />
  </div>

  <footer class="mt-10">Footer</footer>
</body>
