<script lang="ts">
  import { Link } from "@inertiajs/svelte";

  export let countries;
</script>

<ul>
  {#each countries as country}
    <li>
      <Link href="countries/{country.id}">{country.name}</Link>
    </li>
  {/each}
</ul>
